.stylish-text {
    font-size: 3em; 
    font-family: 'Arial', sans-serif; 
    color: rgb(243, 243, 243); 
    text-align: center;
}
body {
    color: #444;
    line-height: 1.5;
    background-color: #000000;
    padding: 40px;
    width: 97%;
    margin: 0 auto;
    font-family: "Arial", sans-serif;
}
