body {

    font-family: Arial, sans-serif;

    background-color: #f5f5f5;

    margin: 0;

    padding: 0;

}

 

.container {

    max-width: 800px;

    margin: 50px auto;

    background-color: #fff;

    padding: 30px;

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

 

h1 {

    text-align: center;

    margin-bottom: 30px;
}



fieldset {

    border: none;

    margin-bottom: 20px;

}

 

legend {

    font-size: 1.5em;

    font-weight: bold;

    color: #333;

    margin-bottom: 10px;

}

 

.input-group {

    margin-bottom: 15px;

}

 

label {

    display: block;

    font-size: 1.1em;

    margin-bottom: 5px;

    color: #555;

}



input[type="text"], 

input[type="email"],

input[type="number"],

input[type="tel"],

input[type="date"],

input[type="password"],

select,

textarea,

button {

    width: 100%;

    padding: 10px;

    border: 1px solid #ccc;

    border-radius: 5px;

    box-sizing: border-box;

    margin-top: 5px;

    font-size: 1em;

}


button {

    background-color: #007bff;

    color: #fff;

    border: none;

    cursor: pointer;

    transition: background-color 0.3s;

}


button:hover {

    background-color: #0056b3;

}
.error-box {
    display: none;
    color: blue;
    font-weight: bold;
    margin-bottom: 10px;
}

.error {
    color: blue;
    font-size: 0.9em;
    display: block;
    margin-top: 5px;
}

input:invalid {
    border-color: blue;
}